[submodule "src/go-module/component/go-checkbox"]
	path = src/go-module/component/go-checkbox
	url = git@10.182.247.74:go-webframework/go-checkbox.git
[submodule "src/go-module/component/go-textarea"]
	path = src/go-module/component/go-textarea
	url = git@10.182.247.74:go-webframework/go-textarea.git
[submodule "src/go-module/component/go-radiobutton"]
	path = src/go-module/component/go-radiobutton
	url = git@10.182.247.74:go-webframework/go-radiobutton.git
[submodule "src/go-module/component/go-auto-complete"]
	path = src/go-module/component/go-auto-complete
	url = git@10.182.247.74:go-webframework/go-auto-complete.git
[submodule "src/go-module/component/go-badge"]
	path = src/go-module/component/go-badge
	url = git@10.182.247.74:go-webframework/go-badge.git
[submodule "src/go-module/component/go-textbox"]
	path = src/go-module/component/go-textbox
	url = git@10.182.247.74:go-webframework/go-textbox.git
[submodule "src/go-module/component/go-datetimepicker"]
	path = src/go-module/component/go-datetimepicker
	url = git@10.182.247.74:go-webframework/go-datetimepicker.git
[submodule "src/go-module/component/go-directive"]
	path = src/go-module/component/go-directive
	url = git@10.182.247.74:go-webframework/go-directive.git
[submodule "src/go-module/component/go-image-gallery"]
	path = src/go-module/component/go-image-gallery
	url = git@10.182.247.74:go-webframework/go-image-gallery.git
[submodule "src/go-module/component/go-label"]
	path = src/go-module/component/go-label
	url = git@10.182.247.74:go-webframework/go-label.git
[submodule "src/go-module/component/go-progressbar"]
	path = src/go-module/component/go-progressbar
	url = git@10.182.247.74:go-webframework/go-progressbar.git
[submodule "src/go-module/component/go-pulldown-menu"]
	path = src/go-module/component/go-pulldown-menu
	url = git@10.182.247.74:go-webframework/go-pulldown-menu.git
[submodule "src/go-module/component/go-selectbox"]
	path = src/go-module/component/go-selectbox
	url = git@10.182.247.74:go-webframework/go-selectbox.git
[submodule "src/go-module/component/go-sidebar"]
	path = src/go-module/component/go-sidebar
	url = git@10.182.247.74:go-webframework/go-sidebar.git
[submodule "src/go-module/component/go-service"]
	path = src/go-module/component/go-service
	url = git@10.182.247.74:go-webframework/go-service.git
[submodule "src/go-module/component/go-table"]
	path = src/go-module/component/go-table
	url = git@10.182.247.74:go-webframework/go-table.git
